@import '../../styles/palette.scss';

.layout {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: minmax(max-content, 200px) 1fr;
  grid-template-areas: 'navigation content';
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  gap: 2rem;
  background-color: $bg;
}

.contentContainer {
  overflow: hidden;
  grid-area: content;
  padding: 2rem;
}
