@import '../../styles/palette.scss';

.layout {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: minmax(max-content, 200px) 1fr;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  gap: 2rem;
  background-color: $bg;
  @media only screen and (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}
.contentContainer {
  grid-column: 2/3;
  overflow: hidden;
  padding: 2rem;
  @media only screen and (max-width: 600px) {
    padding: 0 2rem 2rem 2rem;
    grid-column: 1;
  }
}
