@import '../styles/palette.scss';

.pageTitle {
  margin-bottom: 2rem;
}
.postsContainer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.postsList {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}
