@import '../styles/palette.scss';

.pageTitle {
  margin-bottom: 2rem;
}
.postsContainer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.postsList {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}
.pagination {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: max-content 1fr max-content;
  gap: 2rem;
}
.page {
  color: $text;
  font-weight: 500;
  font-size: 0.8rem;
}
.button {
  padding: 0.5rem 1rem;
  color: $fg;
  background-color: $text;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  &:hover {
    background-color: darken($color: $text, $amount: 10);
  }
  &:disabled {
    opacity: 0.38;
    cursor: default;
    pointer-events: none;
  }
}
.limitInput {
  width: calc(1rem + 5ch);
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: 1px solid $subtext;
  border-radius: 8px;
}
.paginationControls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.paginationControl {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 0.8rem;
}
