@import '../../../styles/palette.scss';

.postHeader {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.postDetails {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.spacer {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: $subtext;
}
.headerDetail {
  display: inline-block;
  color: $subtext;
  font-weight: 500;
  font-size: 1rem;
}
.tagList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;
  gap: 0.75rem;
  list-style-type: none;
}
